.breadcrumb li a {
  text-decoration: none;
}

.breadcrumb li a.active {
  color: rgba(57, 57, 57, 1);
}

.breadcrumb li {
  display: inline-block;
  /* margin: 0.5em 0; */
}

.breadcrumb li::after {
  /* this is the separator between items */
  display: inline-block;
  margin: 0 0.6em;
  content: "";
  height: 3px;
  width: 3px;
  border-top: 1px solid rgba(169, 169, 169, 1);
  border-right: 1px solid rgba(169, 169, 169, 1);
  transform: rotate(45deg);
  vertical-align: middle;
}

.breadcrumb li:last-of-type::after {
  /* hide separator after the last item */
  display: none;
}

.breadcrumb li > * {
  /* single step */
  display: inline-block;
  font-size: 0.75rem;
  color: rgba(169, 169, 169, 1);
}
