table {
  border-collapse: collapse;
  width: 100%;
  /* max-width: 1200px; */
}

td,
th {
  text-align: left;
}

th:hover {
  cursor: pointer;
}

table input {
  cursor: pointer;
}

thead {
  border-bottom: 1px solid #e1e1e1;
}

thead th {
  padding: 1rem 2rem;
  white-space: nowrap;
}

tbody tr td {
  padding: 1rem 2rem;
}

tbody tr {
  border-bottom: 1px solid #ebebeb;
}

tbody tr:last-child {
  border: 0;
}

.collapse {
  background-color: #f9fdff;
  border-bottom: 1px dashed #e1e1e1;
  font-size: 0.875rem;
  display: none;
}

.collapse__open {
  display: table-row;
}

.collapse--last {
  border-bottom: 1px solid #ebebeb;
}
